@use '../abstracts/variables' as var;
@use '../abstracts/mixins';

// ========================================
// Base
// ========================================

* {
  box-sizing: border-box;
  word-wrap : break-word;
  overflow-wrap : break-word;
  background: {
    repeat: no-repeat;
  }
}

html {
  overflow-y: scroll;
  font-size: 10px;
  font-weight: 500;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: top;
}

select::-ms-expand {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// ========================================
// Default
// ========================================

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 1.4rem;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var.$color-black;
  font-family: var.$font-mincho;
  letter-spacing: .2em;
  font-feature-settings : "pkna";
  @include mixins.media() {
    font-size: 1.8rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: ten-mincho, serif;
  font-weight: normal;
}

a {
  color: var.$color-black;
}

figure {
  margin: 0;
}

figcaption {
  display: none;
}
