@use '../abstracts/mixins';

// ========================================
// Display
// ========================================

.br {
  display: block;
}

.hidden {
  display: none;
}

.hiddenSp {
  display: none;
  @include mixins.media() {
    display: block;
  }
}

.hiddenPc {
  @include mixins.media() {
    display: none;
  }
}

// ========================================
// Text
// ========================================

.taL {text-align: left !important;}
.taR {text-align: right !important;}
.taC {text-align: center !important;}

@include mixins.media() {
  .taL-pc {text-align: left !important;}
  .taR-pc {text-align: right !important;}
  .taC-pc {text-align: center !important;}
}

.bold {font-weight: bold !important;}
.italic {font-style: italic !important;}

.ttU {text-transform: uppercase !important;}
.ttL {text-transform: lowercase !important;}
