// ========================================
// Color
// ========================================

$color-main : #353C42;
$color-secondary: #008c9e;

$color-white: #fff;
$color-black: #444;
$color-water: #EAF6FD;

$color-txt-gray: #999;

// ========================================
// Font
// ========================================

$font-gothic : fot-cezanne-pron, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Hiragino Sans, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;

$font-mincho : source-han-serif-japanese, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "游明朝", YuMincho, "ＭＳ 明朝", serif;

$font-ten-mincho: ten-mincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "游明朝", YuMincho, "ＭＳ 明朝", serif;

// ========================================
// Width
// ========================================

$max-width-l: 1400px;
$max-width-m: 1200px;
$max-width-s: 90%;

// ========================================
// Path
// ========================================

$img-path: "/assets/images/";
