@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins';

.categoryListWrap {
  position: relative;
  overflow: hidden;
  margin: -2em -2em 0;
  box-shadow: 0 5px 5px -5px rgba(0,0,0,.1) inset;
}

.categoryList {
  font-family: var.$font-ten-mincho;
  transition: padding .2s ease-out;
  padding-right: 2em;
  padding-left: 2em;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  li {
    margin-right: 1em;
    margin-left: 1em;
    transition: margin .2s ease-out;
  }
  a {
    display: block;
    line-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: line-height .2s ease-out, opacity .2s ease-out, visibility .2s ease-out;
  }
  .is-open & {
    padding-top: 1em;
    padding-bottom: 1em;
    li {
      margin-top: .5em;
      margin-bottom: .5em;
    }
    a {
      line-height: 2.5;
      opacity: 1;
      visibility: visible;
    }
  }
  @include mixins.media() {
    font-size: 1.5rem;
    a {
      @include mixins.hoverAction('bar');
    }
    .is-open & {
      li {
        margin-top: 1em;
        margin-bottom: 1em;
      }
      a {
        line-height: 2;
      }
    }
  }
}
