@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins';

.categoryHeading,
.pageHeading {
  position: relative;
  padding: 5em 2em 3em;
  & h1 {
    display: inline-block;
    cursor: pointer;
    svg {
      transition: transform .2s ease-out;
      font-size: 24px;
    }
  }
  @include mixins.media() {
    padding: 7em 0;
    & h1:hover svg {
      transform: translateY(10%);
    }
  }
}

.openedCategoryHeading{
  &  svg {
    transform: rotate(180deg);
  }
  @include mixins.media() {
    &:hover svg {
      transform: rotate(180deg) translateY(10%);
    }
  }
}

.pageHeading {
  .post_subHeading {
    margin-bottom: 0;
  }
}

.commonSection {
  position: relative;
  padding: 5em 2em;
  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: '';
    width: 5em;
    height: 1px;
    background-color: #eee;
  }
  &:first-child::before {
    display: none;
  }
  &:last-of-type {
    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      content: '';
      width: 5em;
      height: 1px;
      background-color: #eee;
    }
  }
  .categoryHeading + & {
    padding-top: 0;
    &::before {
      display: none;
    }
  }
  @include mixins.media() {
    padding: 7em 0;
  }
}

.commonSection_innerWrap {
  @include mixins.media() {
    max-width: var.$max-width-s;
    margin-left: auto;
    margin-right: auto;
  }
}

.commonSection_heading {
  margin-bottom: 1em;
  text-align: center;
  font-size: 2.6rem;
}

.pickup {
  text-align: center;
  padding: 3em 2em 5em;

  @include mixins.media() {
      max-width: 500px;
      margin-right: auto;
      margin-left: auto;
      padding: 3em 0 7em;
  }
}

.pickup-game {
  @include mixins.media() {
      max-width: 700px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var.$font-ten-mincho;
  width: 200px;
  height: 40px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  background-color: #555;
  color: var.$color-white;
  font-size: 1.4rem;
  @include mixins.media() {
    font-size: 1.6rem;
  }
}

.button-line {
  background-color: transparent;
  //background-color: #eee;
  border: 1px solid #eee;
  color: inherit;
}
